extends layout

block content
  h1(class='heading') #{title}
  div(class='addMessage')
    a(href='/new') click here to add a message
  
  
  each item in messages
    div(class='messages')
      p from: 
        span #{item.user} 
      p message: 
        span #{item.text}
      p added: 
        span(class='date') #{item.added}
  br

